<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ acao }} Contato</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ acao }} contato</h1>
            <form method="POST"  class="container">
                <label>Nome:</label>
                <!-- Note o uso correto das chaves duplas dentro das aspas do value -->
                <input type="text" name="nome" value="{{ contato.nome }}" required><br><br>

                <label>Telefone:</label>
                <input type="text" name="telefone" value="{{ contato.telefone }}" oninput="mascaraTelefone(this)" required><br><br>

                <label>E-mail:</label>
                <input type="email" name="email" value="{{ contato.email }}"><br><br>

                <label>Endereço:</label>
                <input type="text" name="endereco" value="{{ contato.endereco }}"><br><br>

                <button type="submit" class="btn-salvar">Salvar Alterações</button>
                <a href="/" class="btn-cancelar"">Cancelar</a>
            </form>
        </div>
        <script>
            function mascaraTelefone(input) {
                let valor = input.value.replace(/\D/g, ''); 

                if (valor.length > 11) {
                    valor = valor.substring(0, 11);
                }

                if (valor.length > 10) {
                    valor = valor.replace(/^(\d{2})(\d)(\d{4})(\d{4})$/, '($1) $2 $3-$4');
                } else if (valor.length > 6) {
                    valor = valor.replace(/^(\d{2})(\d{4})(\d{0,4})$/, '($1) $2-$3');
                } else if (valor.length > 2) {
                    valor = valor.replace(/^(\d{2})(\d{0,5})/, '($1) $2');
                } else if (valor.length > 0) {
                    valor = valor.replace(/^(\d*)/, '($1');
                }

                input.value = valor;
            }
        </script>
    </body>
</html>